h1 {
  font-size:2em;
}

input[type="text"] {
  font-size:1.5em;
  padding-left:2em;
  height:2em;
  width:8em;
}

input[id="name-submit"]{
  height:2em;
  font-size:1.5em;
}


#conversation {
font-size:1.5em;
width:600px;
/*
  background-color:#000;
  color:#0F0;
  height:10em;
  overflow:scroll;
  width:100%;
*/
}
