h1 {
  font-size:2em;
}

input[type="text"] {
  font-size:1.5em;
  padding-left:2em;
  height:2em;
  width:8em;
}

input[id="name-submit"]{
  height:2em;
  font-size:1.5em;
}

@media only screen and (max-width:800px) {
  #container {
    width:290px;
  }
}

ul li {
  padding:9px;
}

button {
  height:2.7em;
  width:8em;
}

button[value="inv"]{
  height:2.7em;
  width:2.7em;
  font-size:1em;
}

#conversation {
font-size:1.5em;
/*
  background-color:#000;
  color:#0F0;
  height:10em;
  overflow:scroll;
  width:100%;
*/
}
